:root {
  --Light-red: hsl(0, 100%, 67%);
  --T-Light-red: hsl(0, 100%, 67%,0.08);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --T-Orangey-yellow: hsl(39, 100%, 56%,0.08);
  --Green-teal: hsl(166, 100%, 37%);
  --T-Green-teal: hsl(166, 100%, 37%,0.08);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --T-Cobalt-blue: hsl(234, 85%, 45%,0.08);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.first-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    hsl(241, 81%, 54%) 0%,
    hsl(252, 100%, 67%) 100%
  );
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  padding: 24px;
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0) 0%,
    hsla(256, 72%, 46%, 1) 100%
  );
}

.circle span:nth-child(1) {
  color: var(--Pale-blue);
  font-weight: 700;
  font-size: 50px;
}

.circle span:nth-child(2) {
  color: var(--Light-lavender);
  font-size: 12px;
}

.first-col h1 {
  color: var(--Light-lavender);
  margin-bottom: 22px;
  font-size: 16px;
}

.first-col h2 {
  color: var(--Pale-blue);
  font-size: 24px;
  margin-top: 23px;
  margin-bottom: 12px;
}

.first-col p {
  color: var(--Light-lavender);
  max-width: 290px;
  padding-bottom: 20px;
}

.reaction{
  background-color: var(--T-Light-red);
  color: var(--Light-red);
}

.memory{
  background-color: var(--T-Orangey-yellow);
  color: var(--Orangey-yellow);
}

.verbal{
  background-color: var(--T-Green-teal);
  color: var(--Green-teal);
}

.visual{
  background-color: var(--T-Cobalt-blue);
  color: var(--Cobalt-blue);
}

.second-col  {
  padding: 35px;
  padding-top: 20px;
  font-weight: 700;
}

.second-col div{
  padding: 15px;
  border: 0 solid currentColor;
  border-radius: 12px;
}

.second-col span{
  color: hsl(0, 0%, 0%,0.5);
  float: right;
}

.second-col section{
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: space-between;
  margin: 20px 0;
}

.second-col h2{
  font-size: 19px;
}

.second-col img{
  vertical-align: middle;
  padding-right: 5px;
}

span b{
  color: black;
}

button{
  margin-top: 10px;
  padding: 15px;
  color: white;
  background-color: var(--Dark-gray-blue);
  font-size: 17px;
  border: 0 solid currentColor;
  border-radius: 40px;
}